.social
  padding-bottom: 155px

.social__title
  margin-bottom: 50px
  font-weight: 510
  font-size: 50px
  line-height: 60px
  color: #000000

.social__list
  display: flex
  flex-wrap: wrap
  gap: 50px 19px

.social__item
  width: 575px
  // width: 100%
  min-height: 254px

.social__descr-block
  width: 100%
  min-height: 196px
  padding: 39px 59px 34px 234px
  margin-bottom: 10px
  background: #FFFFFF
  border: 1px solid #DFE1E8
  border-radius: 3px

  background-position: left 28px top 18px
  background-size: 159px
  background-repeat: no-repeat

.social__descr-img-youtube
  background-image: url("../img/social-youtube.png")

.social__descr-img-instagram
  background-image: url("../img/social-instagram.png")

.social__descr-img-telegram
  background-image: url("../img/social-instagram.png")

.social__descr-title
  margin-bottom: 25px
  font-weight: 700
  font-size: 25px
  // line-height: 48px
  color: #000000

.social__descr
  font-weight: 510
  font-size: 17px
  line-height: 20px
  color: #828282

.social__btn
  width: 575px
  height: 48px
  text-align: center
  padding: 14px 31px
  font-weight: 510
  font-size: 17px

  color: #1D222D
  border-radius: 3px


// MEDIA
@media (max-width: 1199px)
  .social__list
    justify-content: center
