.main-blur-on
  filter: blur(5px)

.main-blur-on
  filter: blur(0px)

.agree__on
  // display: flex
  // align-items: center
  width: 80%
  position: fixed
  padding: 20px
  height: 25%
  top: 15%
  bottom: 10%
  left: 0
  // right: 50%
  transform: translateX(12%)
  // right:
  // left: 0
  z-index: 1030
  border-radius: 25px
  background-color: rgba(255,255,255,0.9)

.agree__text
  margin-bottom: 20px

.agree__subtext
  font-size: 12px
  margin-bottom: 20px

.agree__buttons-wrap
  display: flex
  justify-content: space-between

.agree__btn
  width: 40%
  background-color: rgba(231, 231, 231, 0.9)
  border-radius: 25px
  cursor: pointer
