@font-face {
  font-family: "Druk Wide";
  src: url("../fonts/DrukWide.woff2") format("woff2"), url("../fonts/DrukWide.woff") format("woff"), url("../fonts/DrukWide.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Medium";
  src: url("../fonts/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("../fonts/SFProDisplay-Medium-1.eot") format("embedded-opentype"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Light";
  src: url("../fonts/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("SFProDisplay-Light"), url("../fonts/SFProDisplay-Light-1.eot") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SF Bold";
  src: url("../fonts/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../fonts/SFProDisplay-Bold-1.eot") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SF";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("../fonts/SFProDisplay-Regular-1.eot") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

html {
  width: 100%;
  height: 100%;
}
 
body {
  background-color: #fff;
  font-family: "SF";
  font-size: 35px;
  line-height: 49px;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #6d6d6d;
}

.wrapper {
  padding-top: 100px;
  min-width: 909px;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../assets/img/bg.svg) center bottom no-repeat;
  background-size: contain;
}

.container {
  width: 909px;
  margin: 0 auto;
}

/*FOOTER*/
footer.footer {
  height: 0;
  min-width: 909px;
  width: 100%;
  margin-top: 0;
  margin-top: 0;
}
footer.footer * {
  font-size: 24px;
}

:root {
  --form-control-color: #868686;
}

input[type=radio] {
  height: 0;
  width: 0;
  opacity: 0;
}

.radio-container label {
  width: 32px;
  height: 32px;
  background: rgba(109, 109, 109, 0.3);
}
.radio-container label:after {
  display: none;
  content: "";
  width: 24px;
  height: 24px;
  background: #6d6d6d;
  position: relative;
  top: 4px;
  left: 4px;
}

input[type=radio]:checked + label:after {
  display: block;
}

.write_us_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  height: 0;
  -webkit-transition: 50ms;
  transition: 50ms;
  z-index: -1;
}
.write_us_wrapper.active {
  z-index: 100;
  opacity: 1;
  height: 100vh;
}

.write_us_success {
  max-width: 420px;
  border-radius: 10px;
  padding: 80px 32px 32px;
  text-align: center;
  background: #fff url(../assets/img/logo.svg) center top 32px no-repeat;
}
.write_us_success h2 {
  color: #f16522;
  font-size: 26px;
  margin: 16px 0;
}
.write_us_success p {
  margin-bottom: 0;
  font-size: 18px;
}

@media screen and (max-width: 910px) {
  body {
    font-size: 14px;
    line-height: 150%;
  }
  .container {
    width: 100%;
    padding: 0 16px;
  }
  .wrapper {
    min-width: 320px;
    background: url(../assets/img/bg.svg) center bottom no-repeat;
    background-size: contain;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 30px;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.header__logo {
  width: 200px;
  height: 54px;
  background: url(../assets/img/logo.svg) center no-repeat;
  background-size: contain;
}

.subheader__text {
  margin: 0;
  font-family: "SF Medium";
  font-size: 26px;
}
.subheader__title {
  margin: 30px 0 60px;
  font-family: "SF Medium";
  font-size: 26px;
}

.banner {
  position: relative;
  width: 909px;
}
.banner img {
  width: 969px;
  height: 280px;
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.banner__text {
  color: #fff;
  position: relative;
  margin: 0 auto;
  font-size: 20px;
  line-height: 150%;
  max-width: 553px;
  width: 100%;
  font-family: "Druk Wide Cy TT Medium";
  text-transform: lowercase;
}

.form__submit button {
  border: none;
  outline: none;
  color: #fff;
  background: #aeddfb;
  font-family: "SF Medium";
  font-size: 18px;
  padding: 29px 140px;
  border-radius: 8px;
  margin-top: 80px;
  cursor: pointer;
}
.form .banner {
  margin: 90px 0;
  position: relative;
  left: -146px;
}
.form .banner__text {
  max-width: 100%;
}
.form__textarea {
  border: none;
  background: rgba(134, 134, 134, 0.3);
  font-size: 14px;
  line-height: 100%;
  width: 100%;
  padding: 10px;
  resize: none;
}
.form__textarea:focus {
  outline: none;
}
.form__container {
  margin: 60px auto 0;
  width: 100%;
  max-width: 615px;
}
.form__textcontent {
  font-size: 26px;
  font-family: "SF Medium";
}
.form__link {
  display: block;
  font-family: "SF Bold";
  font-size: 26px;
  color: #6d6d6d;
}
.form__title {
  font-size: 28px;
  margin: 20px 0;
  font-family: "Druk Wide";
}
.form__label {
  display: block;
  font-size: 18px;
  font-family: "SF Light";
  min-height: 40px;
  line-height: 40px;
}
.form .label-problem {
  line-height: 150%;
  margin-bottom: 8px;
}
.form__text {
  margin-bottom: 34px;
  border: 0;
  outline: none;
  background: rgba(134, 134, 134, 0.3);
  font-size: 14px;
  line-height: 100%;
  width: 100%;
  padding: 10px;
  display: block;
}
.form__text:focus {
  outline: none;
}
.form__subtitle {
  font-size: 18px;
  font-family: "SF Light";
  font-weight: 400;
  height: 40px;
  line-height: 40px;
}
.form__radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}
.form__radio-wrapper .radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}
.form__radio-wrapper span {
  font-size: 18px;
  font-family: "SF Light";
  font-weight: 400;
  height: 40px;
  line-height: 40px;
}
.form__radio-wider .radio-container {
  width: 120px;
}

.marketing__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 8px;
}
.marketing__label span {
  font-size: 11px;
}
.marketing__label a {
  color: #6d6d6d;
}

.marketing__input {
  position: relative;
  width: 12px;
  height: 12px;
}

.marketing__input::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: #aeddfb;
}

.marketing__input:checked::before {
  background: #aeddfb;
}

.marketing__input:checked::after {
  content: "";
  background: url(../assets/img/checked.svg) center no-repeat;
  left: 0;
  top: 0;
  position: absolute;
  width: 12px;
  height: 12px;
}

.marketing__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  cursor: pointer;
  margin-bottom: 8px;
}

.form__contact {
  display: none;
}

.form__contact.active {
  display: block;
}

.text__bold {
  font-size: 26px;
  line-height: 150%;
  font-family: "SF Bold";
  margin: 40px 0 72px;
}
.text__bold span {
  font-family: "SF";
  font-weight: 400;
}
.text__bold a {
  color: #6d6d6d;
}

@media screen and (max-width: 910px) {
  .header {
    padding: 24px 0;
  }
  .header__logo {
    width: 150px;
    height: auto;
    aspect-ratio: 200/54;
    background: url(../assets/img/logo_red.svg) center no-repeat;
    background-size: contain;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .banner {
    width: 100%;
    left: 0;
    height: auto;
  }
  .banner img {
    display: none;
  }
  .banner__text {
    font-size: 14px;
    text-shadow: 0px 1px 10px rgba(109, 109, 109, 0.55);
    color: #6d6d6d;
    font-family: "SF";
    text-transform: none;
  }
  .form__radio-wider {
    width: 336px;
    right: 54px;
    position: relative;
  }
  .form__radio-wider .radio-container:nth-child(4) {
    display: none;
  }
  .subheader__text, .subheader__title {
    font-size: 14px;
    text-shadow: 0px 1px 10px rgba(109, 109, 109, 0.55);
  }
  .subheader__title {
    margin: 16px 0;
  }
  .form .label-problem br {
    display: none;
  }
  .form__container {
    margin-top: 30px;
    max-width: 246px;
  }
  .form__title {
    font-size: 16px;
  }
  .form__text {
    margin-bottom: 24px;
    width: 100%;
    padding: 5px;
  }
  .form__radio-wrapper {
    margin-bottom: 10px;
  }
  .form__subtitle {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin: 14px 0;
  }
  .form__label {
    font-size: 13px;
    line-height: 20px;
    min-height: 20px;
    height: auto;
    margin: 0 0 14px;
  }
  .form__textcontent, .form__link {
    font-size: 14px;
    text-shadow: 0px 1px 10px rgba(109, 109, 109, 0.55);
  }
  .form__radio-wrapper span {
    font-size: 14px;
  }
  .form .banner {
    margin: 10px 0;
    left: 0;
  }
  .form__submit button {
    padding: 3px 13px;
    background-color: rgba(255, 64, 93, 0.3);
    margin: 20px 0 8px;
    font-size: 12px;
    font-family: "SF Bold";
  }
  .marketing__label {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 4px 0;
  }
  .marketing__input {
    margin-top: 4px;
  }
  .text__bold {
    font-size: 14px !important;
    margin-bottom: 112px;
    font-family: "SF Bold";
    font-weight: 400;
  }
  .text__bold a {
    text-decoration: none;
  }
  .anti-bold {
    font-family: "SF";
    text-decoration: none !IMPORTANT;
}
 
  
  
.banner {
    background: #a7a7a7;
    box-shadow: 0px 0 20px 20px #a7a7a7;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px !IMPORTANT;
    /* border: 0px !IMPORTANT; */
    color: #Fff !IMPORTANT;
    /* border: 2px solid #a7a7a7d9; */
}
  
  
  p.banner__text {
    color: #fff !IMPORTANT;
    box-shadow: none !IMPORTANT;
        font-family: "Druk Wide Cy TT Medium";
}
.tet {
    margin-top: 50px !IMPORTANT;
    margin-left: -25px !important;
}
.tet2 {
    margin-top: 50px !IMPORTANT;
    margin-left: -25px !important;
}

.form__submit button {
    padding: 3px 13px;
    background-color: rgba(174, 221, 251, 1);
    margin: 20px 0 8px;
    font-size: 12px;
    font-family: "SF Bold";
    width: 100%;
    height: 40px;
    border-radius: 5px !IMPORTANT;
}









  
  
}